@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Markazi+Text:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #495e57;
  --primary-color2: #F4CE14;
}

@font-face {
  font-family: "Karla", sans-serif;
  src: url();
}
@font-face {
  font-family: "Markazi Text", serif;
  src: url();
}
.markazi {
  font-family: "Markazi Text", serif;
}
.nav-Links li {
  margin-right: 1.5rem;
}

.nav-Links li:hover {
  color: var(--primary-color);
}
.mobile-navLinks li {
  margin-top: 1.25rem;
}
.mobile-navLinks li:nth-child(1) {
  margin-top: 0;
}

.footer-navLinks li:hover{
  color: var(--primary-color2);
}
nav {
  position: fixed;
}
html,
body {
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}